.SNS {
  display: flex;
}

#nav {
  max-width: 245px;
  border-right: 2px solid rgba(150, 150, 150, 0.15);
  padding: 32px 15px 15px 32px;
}

.center {
  margin-left: auto;
  width: auto;
  margin-right: auto;
}

#asideBox {
  border-left: 2px solid rgba(150, 150, 150, 0.15);
  width: 300px;
}
