.SNS {
  display: flex;
  color: black;
}

#nav {
  max-width: 245px;
  border-right: 2px solid rgba(150, 150, 150, 0.15);
  padding: 32px 15px 15px 32px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  width: auto;
  margin-right: auto;
}

#asideBox {
  width: 300px;
}
