.feedBox {
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.feedTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedTopLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.feedTopLeft img {
  margin: 10px;
  border-radius: 70%;
  overflow: hidden;
  height: 30px;
  width: 30px;
}

.feedTopRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.feedTopRight img {
  margin: 10px;
  height: 25px;
}

.feedMiddleImg {
  width: 498px;
  height: 498px;
}
.feedMiddleImg img {
  width: 100%;
  height: 100%;
}

.bottomMenu {
  display: flex;
  justify-content: space-between;
  height: 35px;
  padding: 0 10px;
}

.bottomMenuLeft {
  margin-top: 10px;
  justify-content: space-between;
}

.bottomMenuLeft i {
  margin-right: 15px;
}

.bottomMenuRight {
  margin-top: 10px;
}

.bottomMenuRight i {
  margin-top: 5px;
}

.like {
  font-size: 13px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.like img {
  width: 20px;
  height: 20px;
  border-radius: 70%;
  overflow: hidden;
  margin-right: 5px;
}

/*코멘트*/

.commentContainer {
  padding: 0 10px;
}

.commentCount {
  font-size: 12px;
  font-weight: bold;
  color: #9e9e9e;
}

.commentCase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.comments {
  font-size: 13px;
}

.commentTime {
  font-size: 8px;
  color: #9e9e9e;
  padding: 5px 12px 0px 12px;
}

.commentInputBox {
  height: 40px;
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-top: 10px;
}

#commentInput {
  border: 0;
  outline: 0;
  width: 85%;
  height: auto;
}

.commentInputBox button {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #93c0e9;
  cursor: grabbing;
  padding: 0px;
}
