.commentCase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.comments {
  font-size: 13px;
}

.user_nickname {
  margin-right: 5px;
  font-weight: bold;
}
