.profile{
  justify-content: center;
}

.profile_photo{
  width: 130px;
  height: 130px;
}

.profile_info{
  justify-content: center;
}

.nickname{
  font-size: 1.3rem;
  margin-bottom:8px;
}
.summ_cnt{
  margin: 8px 0;
  font-size: 16px;
}
.summ_cnt > span{
  padding:0 8px;
}
.summ_cnt > span span{
  padding:0 4px;
}
.accountid{
  font-size: 14px;
  font-weight: bold;
  color: #999;
  padding:0 8px;
}

.follower, .following{
  cursor: pointer;
}
.follower:hover, .following:hover{
  font-weight: bold;
}

.ant-modal-content h3{
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.ant-modal-close{
  width: 48px !important;
  height: 48px !important;
}
.ant-modal .ant-modal-close-x{
  line-height: 1 !important;
}

.followlist{
  margin: 1.5rem 0;
}
.followlist li{
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.followlist li span{
  margin-right: 1rem;
}
.followlist a{
  align-items: center;
}
.followlist .thum{
  width: 64px;
  height: 64px;
}
.followlist .thum img, .profile_photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 999px;
  border: 1px solid #dee2e6;
}
.followlist .delete{
  padding: 3px 8px;
  border-radius: 6px;
  min-height:auto;
}

