.tabs {
  display: flex;
  justify-content: center;
}

.tabs li {
  font-size: 1rem;
  display: inline-block;
  padding: 1rem 2rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.tabs li.active {
  font-weight: bold;
  border-bottom: 1px solid #666;
}

.contents {
  padding-top: 32px;
  padding-bottom: 52px;
}

.contents ul li a {
  display: flex;
  align-items: center;
}


/* 게시물 */
.myPost .product-image:hover .post_img::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  top: 0;
  left: 0;
}

.myPost .hover_button .hover_ico{
  color: #eee;
  font-weight: bold;
}


/* 좋아요 */
/* 북마크 */
.likedlist li, .bookmarklist li{
  padding: 8px;
  transition: 0.3s;
}
.likedlist li:hover,  .bookmarklist li:hover{
  background-color: rgba(0,0,0,.02);
}
.likedlist span, .bookmarklist span{
  padding-right: 12px; 
}
.thum {
  display: inline-block;
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.thum img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 1px solid #999; */
}
.ptxt span{display: block; padding: 2px 0;}
.ptitle{font-size: 1.02rem;margin-bottom: 6px;
  width: 380px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;}
.writer{color: #666;margin-bottom: 8px; font-size: 0.98rem;}
.cnt{margin: 2px 0; font-size: 0.90rem;}
.lastUpdate{color: #666; font-size: 0.9rem;}
