.explore {
  display: flex;
  justify-content: space-between;
}

.explore #nav {
  margin-right: 15px;
  max-width: 20%;
  border-right: 2px solid rgba(150, 150, 150, 0.15);
  padding: 32px 15px 15px 32px;
}

.explore__content {
  max-width: 65%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

:where(.css-dev-only-do-not-override-k83k30).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload-list.ant-upload-list-picture-card
  .ant-upload-list-item-container {
  display: inline-block;
  width: 250px;
  height: 300px;
  margin-block: 0 8px;
  margin-inline: 0 8px;
  vertical-align: top;
  margin-right: 20px;
}
