.explore {
  display: flex;
  justify-content: space-between;
}

.explore #nav {
  margin-right: 15px;
  max-width: 20%;
  border-right: 2px solid rgba(150, 150, 150, 0.15);
  padding: 32px 15px 15px 32px;
}

.explore__content {
  max-width: 65%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.post2 {
  margin-bottom: 15px;
  margin-right: 15px;
  box-sizing: border-box;
}

.post2 img {
  width: 250px;
  height: 250px;
}

.post2 p {
  font-size: 14px;
  margin: 8px 0;
  text-align: center;
}
