.title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.menu {
  align-items: center;
}

.menu__row {
  font-size: 20px;
  padding: 12px;
  margin-bottom: 10px;
}

@media (max-width: 895px) {
  .thumbnail {
    display: none;
  }
  .menu__row span {
    display: none;
  }
  .title {
    display: none;
  }
  .title img {
    display: block;
  }
}

.menu__row span {
  font-size: 15px;
}

.menu__row i,
.menu__bottom__row i {
  margin-right: 15px;
}

.menu__bottom {
  margin-top: 50px;
}

.menu__bottom__row {
  width: 140px;
  font-size: 17px;
  padding: 10px;
  background-color: #f9cdbd;
  border-radius: 20px;
  text-align: center;
}

.menu__bottom__row:first-child {
  margin-bottom: 20px;
}

@media (max-width: 895px) {
  .menu__bottom__row {
    margin-top: 30px;
    margin-left: 4px;
    width: 40px;
    padding: 10px;
    background-color: #f9cdbd;
    border-radius: 0.5;
  }

  .menu__bottom__row span {
    display: none;
  }
}

@media (min-width: 980px) {
  .menu__row,
  .menu__row span {
    font-size: 20px;
  }

  .menu__bottom__row {
    width: 180px;
    font-size: 20px;
    padding: 10px;
    background-color: #f9cdbd;
    border-radius: 20px;
    text-align: center;
  }
}
