:where(.css-dev-only-do-not-override-k83k30).ant-modal .ant-modal-close-x {
  display: none;
}

/* :where(.css-dev-only-do-not-override-k83k30).ant-modal .ant-modal-content {
  padding: 0;
} */

.setting__row {
  padding: 8px 16px;
  border-block-end: 1px solid rgba(5, 5, 5, 0.06);
}

.setting__row button {
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  padding: 0;
}

.setting__row:last-child {
  padding: 3px 16px;
}
